############################
# Runtime / persistent data
############################
data/
*.wal
*.json

############################
# Build outputs / binaries
############################
bin/
kvmain*
kvserver*

############################
# Go build artifacts
############################
*.exe
*.exe~
*.out
*.test
*.prof

############################
# Go tooling cache (optional)
############################
/dist/

############################
# Editor / OS files
############################
.vscode/
.idea/
.DS_Store
